
#petContainer {
	height: 300px;
	overflow: auto;
	background-color: #eee;
	margin-bottom: 1em;
	margin-right: 10px;
}

body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#content {
	margin-top: 10pt;
}

#error-box {
	border: thin black solid;
	clear: both;
	background-color: red;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	margin-top: 20px;
	display: none;
}